// Shop catalog: filter button vs left sidebar by viewport.

.woocommerce .shop-toolbar .toolbar-control li.data.filter {
	display: none;
}

// @media (min-width: 991px) {
// 	.woocommerce .shop-toolbar .toolbar-control li.data.filter {
// 		display: list-item;
// 	}
// }

@media (max-width: 992px) {
	.shop-sidebar {
		display: none;
	}

	.woocommerce .shop-toolbar .toolbar-control li.data.filter {
		display: list-item;
	}
}
